/* IBM Plex Sans Arabic — © IBM Corp. برخصة SIL OFL 1.1، انظر OFL.txt.
   مُقلَّص على الحروف العربية واللاتينية الأساسية.
   index.html يضمّن نسخته بداخله ليعمل بلا إنترنت؛ هذا الملف لبقية الصفحات. */
@font-face{font-family:"IBM Plex Sans Arabic";font-style:normal;font-weight:400;font-display:swap;src:url(font-400.woff2) format("woff2")}
@font-face{font-family:"IBM Plex Sans Arabic";font-style:normal;font-weight:600;font-display:swap;src:url(font-600.woff2) format("woff2")}
@font-face{font-family:"IBM Plex Sans Arabic";font-style:normal;font-weight:700;font-display:swap;src:url(font-700.woff2) format("woff2")}
